
<ion-navbar *navbar>
  <button menuToggle>
    <icon menu></icon>
  </button>
  <ion-title>Team</ion-title>
</ion-navbar>


<ion-content padding class="team">

  <h3>Emergency JS Team</h3>

  <div padding>
    <ion-segment [(ngModel)]="teamx">
      <ion-segment-button value="grid">
        Grid View
      </ion-segment-button>
      <ion-segment-button value="list">
        List View
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="teamx">
    <ion-list *ngSwitchWhen="'grid'">
      <ion-row>
        <ion-col *ngFor="#member of team">
          <ion-thumbnail item-left>
            <img src="http://placehold.it/150x150">
          </ion-thumbnail>
          <h4>{{member.name}}</h4>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list *ngSwitchWhen="'list'">
        <ion-item *ngFor="#member of team">
          <ion-thumbnail item-left>
            <img src="http://placehold.it/150x150">
          </ion-thumbnail>
          <h2>{{member.name}}</h2>
        </ion-item>
    </ion-list>
  </div>

</ion-content>
